* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Bricolage Grotesque', sans-serif; */
}

.form-container {
    width: 30%;
    height: auto;
    background-color: #f8f8f8;
    border-radius: 1rem;
    border: 1px solid #d7d7d7;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: start;
    align-items: start;
    row-gap: 1.5rem;
}

.form-title {
    width: 100%;
    height: auto;
    padding: 0.5rem;
}

.form-title h3 {
    text-align: center;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.8rem;
}

.form-group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.form-group input {
    width: 100%;
    padding: 1rem;
    height: auto;
    border-radius: 0.5rem;
}

.enter-fullname-alert {
    color: red;
}

.enter-email-alert {
    color: red;
}

.enter-phone-number {
    color: red;
}

.button-container {
    width: 100%;
    height: auto;
}

.button-container button {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 1.5rem;
    cursor: pointer;
}